<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RNCodepushStaging</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>dk_iTN00wbmK3-cY-MYUWIzDHyQvRUX6792300d-d1da-494c-bdcd-2a840c0418ec</string>
	<key>CodePushServerURL</key>
	<string>https://api.appcircle.io/codepush</string>
	<key>CodePushPublicKey</key>
    <string>-----BEGIN PUBLIC KEY-----
	MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA9oS+tNrsB97sAmCjKSb2
	Dm72z/LxdQOSst35Mil8jivC/TuKixl++6oijmR9mUn3ayK2mdiLydYE3rfrdvf1
	NgFm8oXMFEDr5Sw0dAITW81iCbCjwyF09S9KRRZGVV3Cd4n/XOKg3UaWdhF3fu9Y
	nPQz86Q0wJlxtcktk/CpovQKt+OOEQiRURnrYx7Ko4WYbhLyomonbcN13uVV27Uc
	0cSH8zkuTq4ZyztiNwI5Bi4Kgm/e/+T+Sbr4GGBzyGn2UEeaCyXPt+Sfe8Ut94MI
	TFGsmQGpDlUzvY/cvqcC9IcZSgpko8g/FdfIclhIt7ePZjJVg94PFc0hCx0icqAN
	/QIDAQAB
	-----END PUBLIC KEY-----</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
